[submodule "/home/admin/.vim/bundle/VimCompletesMe"]
	path = $HOME/.vim/bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "/home/admin/.vim/bundle/vim-commentary"]
	path = $HOME/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "/home/admin/.vim/bundle/vim-polyglot"]
	path = $HOME/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
