[user]
	name = Tom
	email = tomleewu@users.noreply.github.com
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
