{:profiles
	{:Default 
		{:default true
			:sim     50
			:delay   100
			:alone   500
			:held    500
			}
		}
	:devices {
			  :kbd67 [{:vendor_id 19266 :product_id 4646}]
			  :applekeyboard [{:vendor_id 1452 :product_id 632}]
			  :splitkb [{:vendor_id 64562 :product_id 647}]
			  :allkbs [
				{:vendor_id 19266 :product_id 4646}
				{:vendor_id 1452 :product_id 632}
				{:vendor_id 64562 :product_id 647}
			  ]
			  :allkbsexceptsplit [
				{:vendor_id 19266 :product_id 4646}
				{:vendor_id 1452 :product_id 632}
			  ]
	}
	:layers {
		:right-alt {:key :right_alt}
					}
	:applications {
		:Browsers [
			"^com\\.google\\.Chrome$"
			"^com\\.apple\\.Safari$"
		]
		:Terminals [
			"^net\\.kovidgoyal\\.kitty$"
		]
	}
	:main [
		{:des "Create right alt layer",
			:rules [
				:right-alt
					[:d :open_bracket],
					[:!Rd :!Ropen_bracket],
					[:f :close_bracket],
					[:!Rf :!Rclose_bracket],
					[:s :equal_sign],
					[:!Rs :!Requal_sign],
					[:semicolon :slash],
					[:!Ssemicolon :!Sslash],
					[:r :quote],
					[:!Rr :!Rquote],
					[:n :slash],
					[:!Sn :!Sslash],
					[:quote :hyphen],
					[:!Squote :!Shyphen]
				]
			},
		{:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
		 :rules [[:##caps_lock :left_control nil {:alone :escape}]]},
		{:des   "swap cmd and option"
		 :rules [:splitkb
				[:##right_option :right_command],
				[:##right_command :right_option],
				[:##left_option :left_command],
				[:##left_command :left_option]
	   ]},
		{:des   "shift to z when pressed alone, to shift as modifier"
		 :rules [:allkbsexceptsplit [:##left_shift :left_shift nil {:alone :z}]]},
		{:des "extended layer with right option",
		     :rules [
					:right-alt
			    [:j :left_arrow]
			    [:k :down_arrow]
			    [:i :up_arrow]
			    [:l :right_arrow]
			    [:p "osascript -e 'tell application \"Music\" to playpause'"]
			    [:!Tj :!Tleft_arrow [:Terminals]]
			    [:!Tk :!Tdown_arrow [:Terminals]]
			    [:!Ti :!Tup_arrow [:Terminals]]
			    [:!Tl :!Tright_arrow [:Terminals]]
			    [:!Tj :!Eleft_arrow]
			    [:!Tk :!Edown_arrow]
			    [:!Ti :!Eup_arrow]
			    [:!Tl :!Eright_arrow]
		      ]},
		{:des "extended layer with left control",
		     :rules [
			    [:!Tsemicolon :!Tw [:Terminals]]
			    [:!Tsemicolon :!Odelete_or_backspace]
		      ]}
		]
}
